.navigation {
    margin-top: -1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .lien {
    text-decoration: none;
    font-size: 1.2rem;
    background-color: rgb(180, 175, 175);
    color: black;
    text-align: center;
    display: block;
    width: 75px;
    border-radius: 0.1rem;
}

.navigation .lien-active {
    display: block;
    background-color: blue;
    color: white;
    text-align: center;
    width: 75px;
    border-radius: 0.1rem;

}